# Intro to Python Exercise Workbook

In this workbook, you will see text prompts containing the exercise prompts - you will write the code that will supply the answer within code blocks and run these blocks.

## Part 1: Variables

#### 1. Alter and run the block of code below. Currently, the script will print a string that says `goodbye moon`. Alter this so the string prints, `hello world!`)

In [1]:
print("hello world!")

hello world!

#### 2. Create a variable with any name you would like to use, and store within that variable the string `do not fear error messages`. Display the result of this variable.

In [ ]:
test = "do not fear error messages"
print(test)

#### 3. Create a variable called equation, and store `1 + 2  * 3`, and display the result of this equation

In [ ]:
equation = 1 + 2 * 3
print(equation)

#### 4. Complete line 4, so this script will producing the print statement `first is: 2 and second is: 10`

In [ ]:
first = 1
second = 5 * first
first = 2
second = 
print('first is:', first, 'and second is:', second)

## Part 2: Data Types

#### In this section, you will be using the variables created in the code below. Run the block containing these variables to create them, but do not alter the contents of this block.

In [ ]:
samples = 2
type_test = "4"
database = "The Basic Local Alignment Search Tool (BLAST)"
organization = "NCBI"

#### 5. Check the data types of each of the varibles

In [ ]:
print(type(samples))
print(type(type_test))
print(type(database))
print(type(organization))

#### 6. Print the length of `database`.

In [ ]:
print(len(database))

#### 7. Convert `type_test` to an integer value.

In [ ]:
print(int(type_test))

#### 8. Using slicing, print only the acronym `BLAST` from the database variable.

In [ ]:
print(database[39:44])

## Part 3: Functions and Lists

#### 1. Create and return (print) a list called `x`, storing the following numbers: 23, 34, 54, 65, 45, 23, 34, 55.

In [10]:
x = [23, 34, 54, 65, 45, 23, 34, 55]
print(x)

[23, 34, 54, 65, 45, 23, 34, 55]

#### 2. Python provides basic statistics functions including mean(), median(), and mode(). These functions are a part of the `statistics` package. Import the `statistics` package below.

In [11]:
import statistics

#### 3. Use the `help()` function to learn about the `mean()` function

In [15]:
help(statistics.mean)

Help on function mean in module statistics:

mean(data)
    Return the sample arithmetic mean of data.

    >>> mean([1, 2, 3, 4, 4])
    2.8

    >>> from fractions import Fraction as F
    >>> mean([F(3, 7), F(1, 21), F(5, 3), F(1, 3)])
    Fraction(13, 21)

    >>> from decimal import Decimal as D
    >>> mean([D("0.5"), D("0.75"), D("0.625"), D("0.375")])
    Decimal('0.5625')

    If ``data`` is empty, StatisticsError will be raised.

#### 4. Use `mean()` to find the average of `x`.

In [17]:
print(statistics.mean(x))

41.625

#### 5. Use `append()` to add the number 100 to x as a new list item, and print x.

In [21]:
x.append(100)
print(x)

[23, 34, 54, 65, 45, 23, 34, 55, 100, 100]

#### 6. Create a new list containing the numbers 200, 300, and 400. Use the `extend()` method to combine this new list with  `x`. Print the result.

In [22]:
y = [200, 300, 400]
x.extend(y)
print(x)

[23, 34, 54, 65, 45, 23, 34, 55, 100, 100, 200, 300, 400]

## Part 4: For Loops

#### 1. Use a for loop to return each of the numbers stored in x, preceeded by the string "result: ". 
#### The output should look like `result: returned_number_from_x`.

In [23]:
for i in x:
    print("result: ", i)

result:  23
result:  34
result:  54
result:  65
result:  45
result:  23
result:  34
result:  55
result:  100
result:  100
result:  200
result:  300
result:  400

#### 2. For each number in list `x`, print: 
    * The result of each number plus 21. 
    * Each number multiplied by itself.
    * The result the average of x minus each number.

In [24]:
for i in x:
    first_eq = i + 21
    second_eq = i * i 
    third_eq = statistics.mean(x) - i
    print(first_eq, second_eq, third_eq)

44 529 87.23076923076923
55 1156 76.23076923076923
75 2916 56.230769230769226
86 4225 45.230769230769226
66 2025 65.23076923076923
44 529 87.23076923076923
55 1156 76.23076923076923
76 3025 55.230769230769226
121 10000 10.230769230769226
121 10000 10.230769230769226
221 40000 -89.76923076923077
321 90000 -189.76923076923077
421 160000 -289.7692307692308

## Part 5: Pandas and Data Frames

#### 1. Import the Pandas library as pd

In [29]:
import pandas as pd

 #### 2. Read in the gapminder dataset (the same one used in the class workbook) as a variable called `data`. Be sure to set the index column to `country`.

In [30]:
data = pd.read_csv("data/newly_hiv_infected_number_all_ages.csv", index_col = "country")

#### 3. Print the reported HIV rate for Tanzania in 1997

In [32]:
print(data.loc["Tanzania","1997"])

150000.0

#### 4. Print all reported years of HIV rates from Brazil, and all repored HIV rates from the year 2001 in seperate print statements.

In [39]:
print(data.loc["Brazil",:])
print(data.loc[:,"2001"])

1990        NaN
1991        NaN
1992        NaN
1993        NaN
1994        NaN
1995        NaN
1996        NaN
1997        NaN
1998        NaN
1999        NaN
2000        NaN
2001        NaN
2002        NaN
2003        NaN
2004        NaN
2005        NaN
2006        NaN
2007        NaN
2008        NaN
2009        NaN
2010        NaN
2011    18000.0
Name: Brazil, dtype: float64
country
Afghanistan                      NaN
Angola                       20000.0
Argentina                     7300.0
Armenia                        120.0
Australia                        NaN
Austria                          NaN
Azerbaijan                       NaN
Bahamas                        750.0
Bangladesh                     350.0
Barbados                       160.0
Belarus                       2100.0
Belgium                          NaN
Belize                         350.0
Benin                         5300.0
Bhutan                           NaN
Bolivia                          NaN
Botswana                     26000.0
Brazil                           NaN
Bulgaria                         NaN
Burkina Faso                 13000.0
Burundi                       6900.0
Cambodia                      6200.0
Cameroon                     57000.0
Canada                           NaN
Central African Republic     14000.0
Chile                            NaN
Colombia                         NaN
Congo, Rep.                   7500.0
Costa Rica                       NaN
Cote d'Ivoire                46000.0
                              ...
Slovak Republic                  NaN
Slovenia                         NaN
Somalia                          NaN
South Africa                610000.0
South Korea                      NaN
South Sudan                      NaN
Spain                            NaN
Sri Lanka                      350.0
Sudan                            NaN
Suriname                       350.0
Swaziland                    19000.0
Sweden                           NaN
Switzerland                      NaN
Tajikistan                    1000.0
Tanzania                    140000.0
Thailand                     20000.0
Togo                         12000.0
Trinidad and Tobago           1200.0
Tunisia                          NaN
Turkey                           NaN
Uganda                       99000.0
Ukraine                          NaN
United Kingdom                   NaN
United States                48000.0
Uruguay                          NaN
Venezuela                        NaN
Vietnam                          NaN
Yemen                            NaN
Zambia                       92000.0
Zimbabwe                    140000.0
Name: 2001, Length: 143, dtype: float64

#### 5. Create a data subset that contains the countries Papua New Guinea, Thailand, Indonesia, Malaysia, and Philippines for the years 2005 through 2010.

In [42]:
countries = ["Papua New Guinea", "Thailand", "Indonesia", "Malaysia", "Philippines"]
subset = data.loc[countries,"2005":"2010"]
print(subset)

                     2005     2006     2007     2008     2009     2010
country
Papua New Guinea   2600.0   2500.0   2300.0   2100.0   2000.0   1800.0
Thailand          30000.0  24000.0  19000.0  15000.0  13000.0  11000.0
Indonesia         46000.0  43000.0  44000.0  46000.0  49000.0  52000.0
Malaysia           9600.0   9800.0  10000.0  10000.0  10000.0      NaN
Philippines        1200.0   1400.0   1700.0   2000.0   2500.0   3500.0

## Part 6: For Loops

#### 1. Fill in the blanks below, to write a program that checks how the cost of an in a list of costs relates to the specified price point.

In [51]:
costs = [700, 500, 2000, 1000, 1100, 500, 10000]
price_point = 1000

for cost in costs:
    if cost < price_point:
        print("This cost is under budget")
    elif cost == price_point:
        print("This cost is exactly at the price point")
    else:
        print("This cost is over the price point")

This cost is under budget
This cost is under budget
This cost is over the price point
This cost is exactly at the price point
This cost is over the price point
This cost is under budget
This cost is over the price point

#### 2. Fill in the blanks below, so this program creates `new_list` that contains zeroes where the `original_list`'s values where negative, and ones where the original list's values were positive.

In [48]:
original_list = [-1.5, 0.2, 0.4, -1.3, 0.4]
new_list = []
for value in original_list:
    if value < 0:
        new_list.append(0)
    else:
        new_list.append(1)
print(new_list)

[0, 1, 1, 0, 1]